.hero-wrapper {
  position: relative;
  z-index: 99;
}
.hero-wrapper .heroContainer {
  z-index: 99;
  color: white;
  gap: 2rem;
}
@keyframes slideIn {
  from {
    transform: translateY(-100%);
  }
  to {
    transform: translateY(0);
  }
}
.hero-right img {
  z-index: 1;
  border: 5px solid var(--clr-neutral-600);
  max-width: 35rem;
  border-radius: 1rem 4rem 1rem 0rem;
  /* animation: slideIn 0.5s linear infinite; */
}
.hero-left {
  gap: 0.5rem;
}
.hero-left button {
  margin-top: 1rem;
  /* z-index: 999; */
}
@media (max-width: 768px) {
  .hero-left {
    text-align: center;
  }
  .hero-right img {
    max-width: 100%;
  }
}
@media (max-width: 898px) {
  .heroContainer .hero-right img {
    /* max-width: rem; */
  }
  .heroContainer .hero-left {
    align-items: center;
  }
}
