.hero-wrapper {
  position: relative;
  z-index: 99;
}
.hero-wrapper .heroContainer {
  z-index: 99;
  color: white;
  gap: 2rem;
  opacity: 0;
  animation: fadeInAnimation 1.5s ease-in-out forwards;
}
@keyframes slideIn {
  from {
    transform: translateY(-100%);
  }
  to {
    transform: translateY(0);
  }
}
@keyframes fadeInAnimation {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.hero-right {
  /* flex: 1; */
}
.hero-right img {
  z-index: 1;
  border: 5px solid var(--clr-neutral-600);
  max-width: 35rem;
  border-radius: 1rem 4rem 1rem 0rem;
  /* animation: slideIn 0.5s linear infinite; */
}
.hero-left {
  gap: 0.5rem;
}

.hero-left .typewriter {
  /* background-color: red; */
  font-weight: 700;
  font-size: 2.5rem;
  text-align: center;
  /* background-color: red; */
  height: 9rem;
  width: 100%;
  /* flex: 1; */
}
.hero-left button {
  margin-top: 1rem;
  width: 50%;
  /* z-index: 999; */
}

@media (max-width: 898px) {
  .heroContainer .hero-right img {
    max-height: 20rem;
  }
  .heroContainer .hero-left {
    align-items: center;
    height: 12rem;
  }
  .hero-left {
    width: 100%;
  }
  .hero-left .typewriter {
    height: 4rem;
    font-size: 1.5rem;
  }
}
@media (max-width: 768px) {
  .hero-left {
    text-align: center;
  }
  .hero-left .typewriter {
    font-size: 2em;
    height: 4.5rem;
  }
  .hero-right img {
    max-width: 100%;
  }
}
@media (max-width: 600px) {
  .heroContainer .hero-left {
    height: 13rem;
  }
  .hero-left .typewriter {
    height: 10rem;
  }
}
@media (max-width: 375px) {
  .heroContainer .hero-left {
    height: 15rem;
  }
  .hero-left .typewriter {
    height: 9rem;
    font-size: 1.5rem;
  }
}
