.f-wrapper {
  padding: 1rem;
  background-color: var(--clr-primary-900);
}
.f-wrapper .f-container {
  justify-content: space-between;
  background-color: var(--clr-primary-900);
  padding: 3rem;
  width: 100%;
}
.footerLeft {
  gap: 2rem;
}
.footerRight {
  display: flex;
  gap: 1.25rem;
}
.footerRight img {
  max-width: 2rem;
  color: white;
}
.nav {
  gap: 1rem;
}

.logo {
  color: white;
}
.navContainer a {
  text-decoration: none;
  color: white;
}
@media (max-width: 768px) {
  .f-wrapper .f-container {
    flex-direction: column;
  }
  .footerLeft .logo {
    margin-bottom: 1rem;
  }
  .footerLeft {
    flex-direction: column;
    gap: 0.5rem;
    margin-bottom: 3rem;
  }
  .nav {
    flex-direction: column;
  }
}
.copyright {
  color: rgb(133, 133, 133);
}
