.ourTeamWrapper .ourTeamContainer {
  background-color: var(--clr-primary-800);

  color: white;
  display: relative;
}
.ourTeamWrapper {
  position: relative;
}
.white-gradients {
  position: absolute;
  width: 15rem;
  height: 15rem;
  border-radius: 50%;

  left: -20px;
  top: 1rem;
  /* z-index: 0; */
  background-color: rgba(255, 255, 255, 0.403);
  /* background-color: red; */
  filter: blur(60px);
}
.ourTeamLeft {
  gap: 1.25rem;
}
.ourTeamRight img {
  border: 0.375rem solid var(--clr-neutral-600);
  border-radius: 1rem 3rem 1rem 0rem;
}

.ourTeamLeft {
}
.ourTeamLeft.animation,
.ourTeamRight.animation {
  opacity: 1;
  transform: translateX(0);
}

@media (max-width: 898px) {
  .ourTeamContainer .ourTeamLeft {
    align-items: center;
  }
}
