.numbersContainer {
  padding: 1.5rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);

  gap: 6rem;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1); /* Add subtle shadow */
}
.numbersRight {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 2rem;
}

.numbersRight.animateSection,
.numbersLeft.animateSection {
  opacity: 1;
  transform: translateX(0);
}

.numbersRight span {
  font-size: 1.5rem;
}

.numbersLeft img {
  width: 100%;
  /* height: 25rem; */
}
.statsContent span {
  font-size: 2rem;
  font-weight: bold;
  color: #333; /* Choose an appropriate text color */
}

.statsContent p {
  margin: 0.5rem 0;
  font-size: 1rem;
  color: #666; /* Use a slightly muted color for descriptions */
}

@media (max-width: 898px) {
  .numbersWrapper .numbersContainer {
    gap: 1rem;
  }
  .numbersRight .statsContent {
    display: grid;
    place-items: center;
  }
}
